.container {
  display: contents;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.containerImg {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.containerImg:hover {
  transform: scale(1.1);
}

.img {
  border-radius: 20px;
}

.title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
  width: 500px;
  padding: 20px;
}

.span {
  display: block;
  font-size: 34px;
  font-weight: 600;
  color: #ffc531;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 25px;
  transition: transform 0.3s ease;
}

.span:hover {
  transform: scale(1.2);
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submitCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  display: block;
  width: 100%;
  text-align: center;
  padding: 12px 34px;
  border-radius: 50px;
  border: none;
  text-decoration: none;
  background-color: #ffc531;
  color: #f2f4f7;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
  transition: var(--animation);
  width: 200px;
}

.submit:hover {
  color: #e44848;
}
